
.App {
  text-align: center;

}

.ns3-program-logo {
  //margin-right: 5px;
  width: 64px;
  height: 64px;
  /*background-image: url("nprog.icns.svg");*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
}

.nord-tree {
    padding: 10px;
    background-color: #343a40;
}

@media (prefers-reduced-motion: no-preference) {

}

.App-header {
  background-color: #282c34;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

/*
 Geneva
 Lucida Grande
 */

body {

}

.nord-font {
    /*font-family: Geneva*/
}

.nord-font-copyright {
    font-size: 45%;
    vertical-align: 70%;
}

.nord-footer {
    text-align: center;
    background-color: lightgrey;
    margin: 5rem 0 0 0;
    padding: 1rem 2rem;
}
