// ag-grid.scss defines structural styles and should be imported first
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-custom-react {
    @include ag-theme-alpine((
        //header-background-color: #282c34,
        alpine-active-color: #282c34

    ));

}

$primary: #c84f54;
//$link-color: #2c2c2c;
//$link-hover-color: #c84f54;

@import "~bootstrap/scss/bootstrap";


.App {
    text-align: center;
}

.ns3-program-logo {
    //margin-right: 5px;
    width: 64px;
    height: 64px;
}

.nord-tree {
    padding: 10px;
    background-color: #343a40;
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
    background-color: #282c34;
    min-height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding-bottom: 10px;
}

.App-link {
    color: #61dafb;
}

/*
 Geneva
 Lucida Grande
 */

.nord-footer {
    background-color: #f5f5f5;
    text-align: center;
}

#page-content {
    flex: 1 0 auto;
}

.nord-font {
    /*font-family: Geneva*/
}

.nord-font-copyright {
    font-size: 45%;
    vertical-align: 70%;
}

.handmade-container {
    height: calc(100vh - 56px);
}

.main-area {
    height: 92%;
}

.handmade {
    position: absolute;
    right: 0.2rem;
    bottom: 0;
    transform: rotate(-90deg) translate(100%, 0);
    transform-origin: right bottom;
    text-transform: uppercase;
    font-size: x-small;
    white-space: nowrap;
    overflow: hidden;
    border: solid #dbd9d9;
    border-width: 0.3rem 0 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: transparent;
}

.handmade a:any-link    {color:white;}


.work-complete {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-color: grey;
    display: inline-block;
    margin: 2px;
    background-color: #a9d40f;
}

.work-in-progress {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-color: grey;
    display: inline-block;
    margin: 2px;
    background-color: orange;
}

#manager-tab-program {
    color: #282c34;
}

#manager-tab-synth {
    color: #282c34;
}

