.ns3 {
    padding: 0;
    margin: 0;
}

.ns3-header {
    background: #3b4047;

    color: white;
    /*margin: 0;*/
    padding: 10px;
}

.ns3-panel {
    /*background: lightgrey;*/
    background: linear-gradient(whitesmoke 0%, lightgrey 6%);
    /*margin: 2px;*/
}



.ns3-header-name {
}

.outer{
    writing-mode: tb-rl;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
}
.inner{
    transform: rotate(180deg);
    /*transition: transform 1s ease-in-out;*/

}

.ns3-panel-name {
    /*background-color: #3b4047;*/
    color: white;
    border-radius: 0;
    margin: 0;
    padding: 0;
    /*background: linear-gradient(#f6eeee 0%, #af0f27 6%);*/
    background-image: url("red.png");
    background-size: cover;
}

.ns3-section {
    background: whitesmoke;
    /*margin: 10px;*/
    /*padding: 5px;*/
    border-radius: 45px 10px 10px 10px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
}

.ns3-section-fx {
    border-width: 2px;
    border-color: #e32121;
    font-size: 0.8em;
    /*#efecec;*/
    border-style: solid;
    /*max-width: 180px!important;*/
    background-color: #e3e2e2;
    /*margin: 20px*/

}

.nord-synth-sub-feature {
    border-radius: 10px;
    border-width: thin;
    border-color: #efecec;
    margin-right: 2px;
    /*border-style: solid;*/
    /*padding: 0 5px;*/
    background-color: #f1f0f0;
}


.nord-on {
    opacity: 1;
    /*margin: 2px;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}

.nord-off {
    opacity: 0.23;
    /*margin: 2px;*/
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
}



.nord-option-on {
    opacity: 1;
    text-transform: uppercase;
    font-weight: normal!important;
    font-size: 90%;
    /*small-caps*/
    font-variant: no-common-ligatures;
}

.nord-option-on-no-uppercase {
    opacity: 1;
    text-transform: none;
    font-weight: normal;
    font-size: 90%;
    /*small-caps*/
    font-variant: no-common-ligatures;
}

.nord-option-off {
    opacity: 0.33;
    margin: 2px;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 80%;
    /*small-caps*/
    font-variant: no-common-ligatures;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-color: grey;
    display: inline-block;
    margin: 2px;
}

.dot-kb-zone {
    background-color: #a9d40f;
}

.dot-morph {
    background-color: #a9d40f;
    margin: 5px 0 0 0;
}

.nord-name {
    //font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 1rem;
    font-stretch: normal;
    font-weight: bold;
    margin: 2px;
    padding: 5px 10px;
    background-color: #3b4047;
    color: white;
    min-width: 340px;
}

.nord-split {
    font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;;
    font-size: 1rem;
}


.nord-morph {
    /*background-color: #cf1212;*/
    background-color: #c23746; /*red*/
    /*background-color: #a9d40f; !*green*!*/
    color: white;
    border-width: 1px;
    border-style: none;
    border-color: black;
    font-size: 80%;
    padding: 0 1px;
}

.nord-label-name {
    color: red;
}

.nord-label-value {
    color: blue;
}




