.ns3 {
    padding: 0;
    margin: 0;
}

.ns3-header {
    background: #3b4047;

    color: white;
    /*margin: 0;*/
    padding: 10px;
}

.ns3-panel {
    /*background: lightgrey;*/
    background: linear-gradient(whitesmoke 0%, lightgrey 6%);
    /*margin: 2px;*/
}



.ns3-header-name {
}

.outer{
    writing-mode: tb-rl;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 10px;
}
.inner{
    transform: rotate(180deg);
    /*transition: transform 1s ease-in-out;*/

}

.ns3-panel-name {
    /*background-color: #3b4047;*/
    color: white;
    border-radius: 0;

    padding: 0;
    /*background: linear-gradient(#f6eeee 0%, #af0f27 6%);*/
    background-image: url("red.png");
    background-size: cover;
}

.ns3-section {
    background: whitesmoke;
    margin: 15px 15px 15px 15px;
    /*padding: 5px;*/
    border-radius: 45px 10px 10px 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.ns3-section-right {
    background: whitesmoke;
    margin: 15px 5px 15px 0;
    /*padding: 5px;*/
    border-radius: 10px 10px 10px 10px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}

.ns3-section-fx {
    /*border-radius: 10px;*/
    border-style: solid;
    border-color: #eeeded;
    border-width: 0 0 0 1px;
    /*max-width: 150px!important;*/
    background-color: #f3f3f1;
    margin: 5px 0 5px 10px;
    padding: 5px;
}

.ns3-section-main-fx {
    /*border-radius: 10px;*/
    border-style: solid;
    border-color: #eeeded;
    border-width: 0 0 0 1px;
    /*max-width: 150px!important;*/
    background-color: #f3f3f1;
    margin: 5px 5px 15px 5px;
    padding: 5px;
}

.nord-synth-sub-feature {
    border-style: solid;
    border-color: #eeeded;
    border-width: 0 0 0 1px;
    /*max-width: 150px!important;*/
    background-color: #f3f3f1;
    margin: 5px 5px 5px 0;
    padding: 5px
}


.nord-on {
    opacity: 1;
}

.nord-off {
    opacity: 0.23;
}




.dot {
    height: 10px;
    width: 10px;
    background-color: lightgrey;
    border-style: solid;
    border-width: thin;
    border-radius: 50%;
    border-color: grey;
    display: inline-block;
    margin: 2px;
}

.dot-kb-zone {
    background-color: #a9d40f;
}

.dot-morph {
    background-color: #a9d40f;
    margin: 5px 3px 0 0;
}

.nord-name {
    //font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;;
   //font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 1rem;
    font-stretch: normal;
    font-weight: bold;
    margin: 2px;
    padding: 10px;
    background-color: #3b4047;
    color: white;
    /*min-width: 340px;*/
    /*max-width: 400px;*/
    width: 290px;
}

.nord-split {
    font-size: 0.8rem;
    margin: 5px;
}


.nord-morph {
    /*background-color: #cf1212;*/
    background-color: #c23746; /*red*/
    /*background-color: #a9d40f; !*green*!*/
    color: white;
    border-width: 0;
    border-style: none;
    border-color: black;
    font-size: 80%;
    padding: 0 1px;
    margin-right: 2px;
    min-width: 180px!important;
}


.nord-morph-space {
    padding: 0!important;
    margin: 0!important;
}



.nord-label {
    /*color: blue;*/
    font-size: 0.7rem;
    text-transform: uppercase;
}

.nord-value {
    /*color: red;*/
    font-size: 0.75rem;
}

.nord-upper-case {
    text-transform: uppercase;
}

.nord-no-upper-case {
    text-transform: none;
}

.nord-option-title {
    font-size: 0.9rem;
    font-weight: bolder;
    text-transform: uppercase;
}




.col-sm-0-half  {
    position: relative;
    min-height: 1px;
    float: left;
    width: 4.1666666666%;
}

@media (min-width: 768px) {
    .col-sm-0-half {
        /*float: left;*/
    }
    .col-sm-0-half {
        /*width: 12.5%;*/
    }
}

