.styledKnob circle,
.styledKnob path {
    fill: #303132;
    opacity: 1;
    transition:
            opacity 100ms,
            color 100ms
            ease-in-out;
}

.styledKnob:hover circle,
.styledKnob:hover path,
.styledKnob:focus circle,
.styledKnob:focus path {
    fill: #2e2e32;
    opacity: 1;
    transition:
            opacity 450ms,
            color 450ms
            ease-in-out;
}

.value {
    font-family: 'Work Sans', sans-serif;
    fill: #fc5a96;
    font-size: 30px;
}
